# Python
__pycache__/
*.pyc

# Virtual environments
venv/

# macOS
.DS_Store

# Test outputs (optional) (for now ignore them)
tests/results/
tests/__pycache__/

# ignore the unzipped results (from the farm run)
results/

/data

# from running unzip_results.sh (unzips results in the zipped_results folder)
all_results/